%list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

%btn {
    border: 0 solid transparent;
}

%product-text-styles{
font-weight: 700;
    font-size: 14px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;

    margin-bottom: 32px;
}