<section class="contacts">
    <div class="contacts__container">
        <h2 class="contacts__title visually-hidden">Our contacts</h2>
        <ul class="contacts__list">
            <li class="cafe">
                <p class="cafe__type">
                    CAFE
                </p>
                <p class="cafe__location">
                    Chicago
                </p>
                <p class="cafe__description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="cafe__decorate">
                    <p class="cafe__timetable">
                        Monday - Friday
                        <span class="cafe__hours">
                            06:00 AM - 10:00 PM
                        </span>
                    </p>
                    <p class="cafe__timetable">
                        Saturday - Sunday
                        <span class="cafe__hours">
                            08:00 AM - 16:00 PM
                        </span>
                    </p>
                </div>
                <ul class="cafe__contacts">
                    <li class="cafe__telephone">
                        <a href="tel:+61(0)383766284" class="contacts__link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="cafe__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>
            <li class="cafe">
                <p class="cafe__type--colored">
                    FOOD TRUCK
                </p>
                <p class="cafe__location">
                    Los Angeles
                </p>
                <p class="cafe__description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="cafe__decorate">
                    <p class="cafe__timetable">
                        Monday - Friday
                        <span class="cafe__hours">
                            06:00 AM - 10:00 PM
                        </span>
                    </p>
                    <p class="cafe__timetable">
                        Saturday - Sunday
                        <span class="cafe__hours">
                            08:00 AM - 16:00 PM
                        </span>
                    </p>
                </div>
                <ul class="cafe__contacts">
                    <li class="cafe__telephone">
                        <a href="tel:+61(0)383766284" class="contacts__link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="cafe__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>
            <li class="cafe">
                <p class="cafe__type">
                    CAFE
                </p>
                <p class="cafe__location">
                    New York
                </p>
                <p class="cafe__description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="cafe__decorate">
                    <p class="cafe__timetable">
                        Monday - Friday
                        <span class="cafe__hours">
                            06:00 AM - 10:00 PM
                        </span>
                    </p>
                    <p class="cafe__timetable">
                        Saturday - Sunday
                        <span class="cafe__hours">
                            08:00 AM - 16:00 PM
                        </span>
                    </p>
                </div>
                <ul class="cafe__contacts">
                    <li class="cafe__telephone">
                        <a href="tel:+61(0)383766284" class="contacts__link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="cafe__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="contacts__maps">
            <button type="button" class="contacts__location">
                Our location
            </button>
            <button type="button" class="contacts__franchise">
                Frachise
            </button>
        </div>
    </div>
</section>