<header>
    <div class="container">
        <div class="header">
            <a class="logo" href="./index.html">
                <img 
                src="#" 
                alt="logo"
                width="199"
                height="50">
            </a>
            <nav>
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link" href="#">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="">How it's made?</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Our products</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <button class="btn-modal-open" type="button" data-modal-open>Buy now  ></button>
        </div>
        <div class="burger-menu">
            <button class="burger-menu__btn-close" data-menu-close>
                <svg class="burger-menu__icon-close" width="14" height="14">
                   <use href="#"></use>
                </svg>
             </button>
            <button class="btn-modal-open" type="button" data-modal-open>Buy now</button>
            <ul class="burger-menu__list">
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Home</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">About us</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">How it's made?</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Our products</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="hero">
            <h1 class="hero__title">ice cream made with <span class="hero__text-passion">passion</span></h1>
            <ul class="hero__list">
                <li class="hero__item">
                    <a class="hero__link" href="#">Products</a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">How it's made?</a>
                </li>
            </ul>
            <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <img class="hero__img-milk" src="#" alt="milk">
            <img class="hero__img-girl" src="#" alt="girl">
            <img class="hero__img-iceCream" src="#" alt="iceCream">
            <img class="hero__img-16" src="#" alt="16 cafes">
            <img class="hero__img-23" src="#" alt="23 food trucks">
            <div class="hero__background-circle"></div>
        </div>
    </div>
</header>