<section class="how" id="how-it's-made">
  <div class="container how__container">
    <p class="how__slogan">tradition and love</p>
    <h2 class="how__title">how it’s made?</h2>
    <div class="how__flex">
      <img
        class="how__pic"
        srcset="
          ./images/desktop/how-its-made/home-pic-501.png  1x,
          ./images/desktop/how-its-made/home-pic-1002.png 2x
        "
        src="./images/desktop/how-its-made/home-pic-501.png"
        alt="milk and cow"
        width="501"
        height="501"
      />
      <div class="how__text">
        <p class="how__primary-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="how__secondary-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="how__third-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="how__button" type="button">Read more</button>
      </div>
    </div>
  </div>
</section>
