<div class="how container ">
    <p class="how__slogan">tradition and love</p>
    <h2 class="how__title">how it’s made?</h2>
    <img class="how__pic" 
        srcset="./images/Desktop/how-its-made/home-pic-501.png 1x, ./images/Desktop/how-its-made/home-pic-1002.png 2x"
        src="./images/Desktop/how-its-made/home-pic-501.png" alt="milk and cow">
    <P>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</P>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br>Aliquam erat volutpat. Aenean accumsan.</p>
    <button class="how__button" type="button">Read more &#8250</button>
</div>