<section class="overlay overlay-location">
  <div class="modal modal__location">
    <button class="close-button" type="button">
      <svg class="close-icon">
        <use
          class="cross"
          href="./images/sprite.svg#icon-burger-close-mob-tab"
        ></use>
      </svg>
    </button>

    <div class="location__wrap">
      <h2 class="modal__title">Our Location</h2>

      <!-- Список -->
      <ul class="location__list">
        <li class="location__item">
          <p class="location__type">CAFE</p>
          <p class="location__city">Chicago</p>
          <p class="location__description">423 w 55th str</p>
        </li>
        <li class="location__item">
          <p class="location__type--colored">FOOD TRUCK</p>
          <p class="location__franchise">Franchise</p>
          <p class="location__city">Los Angeles</p>
          <p class="location__description">423 w 55th str</p>
        </li>
        <li class="location__item">
          <p class="location__type">CAFE</p>
          <p class="location__city">New York</p>
          <p class="location__description">423 w 55th str</p>
        </li>
      </ul>
    </div>
    <!-- Карта -->
    <iframe class="location__map" src="//www.zeemaps.com/pub?group=4436337">
    </iframe>
  </div>
</section>
