<section class="reviews">
  <div class="container">
    <div class="reviews-slider">
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__img"
          src="images/reviews/customer1_85.png"
          alt="customer-image-1"
        />
        <p class="reviews-slider__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews-slider__text">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
