<section class="reviews">
  <h2 class="visually-hidden">
    Customer reviews
  </h2>
  <div class="container reviews__container">
    <div class="reviews-slider">
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__img"
          src="./images/mobile/customer-reviews/testimonials1-85.png"
          srcset="
            ./images/mobile/customer-reviews/testimonials1-85.png   85w,
            ./images/mobile/customer-reviews/testimonials1-170.png 170w
          "
          sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (max-width: 767px) 85px, 100vw"
          alt="customer-image-1"
          width="85"
          height="85"
        />
        <div class="reviews-slider__inner">
          <p class="reviews-slider__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__divider"></div>
        <p class="reviews-slider__text">Emily, Los Angeles</p>
      </div>

      <div class="reviews-slider__item">
        <img
          class="reviews-slider__img"
          src="./images/mobile/customer-reviews/testimonials2-85.png"
          srcset="
            ./images/mobile/customer-reviews/testimonials2-85.png   85w,
            ./images/mobile/customer-reviews/testimonials2-170.png 170w
          "
          sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (max-width: 767px) 85px, 100vw"
          alt="customer-image-2"
          width="85"
          height="85"
        />
        <div class="reviews-slider__inner">
          <p class="reviews-slider__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__divider"></div>
        <p class="reviews-slider__text">Julia, New York</p>
      </div>

      <div class="reviews-slider__item">
        <img
          class="reviews-slider__img"
          src="./images/mobile/customer-reviews/testimonials3-85.png"
          srcset="
            ./images/mobile/customer-reviews/testimonials3-85.png   85w,
            ./images/mobile/customer-reviews/testimonials3-170.png 170w
          "
          sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (max-width: 767px) 85px, 100vw"
          alt="customer-image-3"
          width="85"
          height="85"
        />
        <div class="reviews-slider__inner">
          <p class="reviews-slider__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__divider"></div>
        <p class="reviews-slider__text">Betty, Toronto</p>
      </div>
    </div>
  </div>
</section>
