.advantages {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding: 30 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 30 0 60;
  }
}

.advantages__container {
  @media screen and (max-width: 767.98px) {
    padding: 0 20;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding: 0 32;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.advantages__item {
  width: 230px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 180px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 306px;
  }

  animation: fade-left-to-right 2s;
}

@media screen and (min-width: 768px) {
  .advantages__subtitle--icon-first {
    transition: transform 0.8s;
  }
  
  .advantages__subtitle--icon-first:hover {
    transform: translateX(20px) scale(1.2);
    transition: transform 0.8s;
  } 
  .advantages__subtitle--icon-second {
    transition: transform 0.8s;
  }
  
  .advantages__subtitle--icon-second:hover {
    transform: translateX(10px) scale(1.1);
    transition: transform 0.8s;
  } 
  .advantages__subtitle--icon-third {
    transition: transform 0.8s;
  }
  
  .advantages__subtitle--icon-third:hover {
    transform: translateX(20px) scale(1.2);
    transition: transform 0.8s;
  }
}

@keyframes fade-left-to-right {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
  }
}

.advantages__subtitle--icon-first::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;

  background-image: url(/src/images/mobile/advantages/group-33.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/advantages/group66.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/tablet/advantages/group-33.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/advantages/group-66.png);
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__subtitle--icon-second::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;

  background-image: url(/src/images/mobile/advantages/vector-50.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/advantages/vector-100.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/tablet/advantages/vector-50.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/advantages/vector-100.png);
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__subtitle--icon-third::before {
  content: '';
  display: block;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;

  background-image: url(/src/images/mobile/advantages/heart-46.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/advantages/heart-90.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/tablet/advantages/heart-46.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/advantages/heart-90.png);
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__subtitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  margin-bottom: 25px;

  color: $accent-color;

  & {
    @media screen and (max-width: 767.98px) {
      text-transform: uppercase;
    }
  }

  & {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      margin-bottom: 13px;
      font-size: 48px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
      font-size: 58px;
    }
  }
}

.advantages__text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: $primary-text-color;

  & {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      font-size: 14px;
      line-height: 1.71;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}
