.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $burger-menu-color;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    @include device(desktop) {
        display: none;
    }
    @include device(tablet) {
        width: 254px;
    }
}

.burger-menu__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus .burger-menu__icon-close{
        fill: $accent-color;
    }
}

.btn-modal-open {
    min-width: 209px;
    min-height: 44px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 20px;
    background-color: $secondary-text-color;
    border: none;
    border-radius: 22px;
    font-weight: 700;
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include device(tablet-only) {
        min-width: 186px;
    }

    @include device(not-desktop) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $secondary-text-color;
    }
}

.burger-menu__item {

    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;

}


.burger-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: $secondary-text-color;

    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}