.contacts {
    padding-left: 20px;
    padding-right: 20px;
}

.contacts__container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;

    background-color: #FFF5F6;

    background-image: linear-gradient(
        to bottom,
        #FFFFFF 26%,
        #FFF5F6 26%);
}

.cafe {
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;

    border-radius: 24px;

    background-color: #FFFFFF;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.cafe__type {
    text-align: center;
    margin-bottom: 20px;
    width: 80px;

    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    background-color: #F0D1A5;
}

.cafe__type--colored {
    text-align: center;
    margin-bottom: 20px;
    width: 130px;

    border-radius: 4px;

    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    background-color: #C2E297;
}

.cafe__location {
    margin-bottom: 8px;

    color: $primary-text-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
}

.cafe__description {

    color: #907E82;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

.cafe__decorate {
    margin: 24px 0px;
    padding-top: 24px;
    padding-bottom: 24px;

    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.cafe__timetable {
    margin-bottom: 8px;

    color: $primary-text-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    &:last-child {
        margin-bottom: 0px;
    }
}

.cafe__hours {
    display: block;

    color: $secondary-accent-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
}

.contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: #D41342;
    }
}

.contacts__maps {
    @include centred-Flex();
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;

    max-width: 161px;

}

.contacts__location {
    @extend %btn;
    
    margin-bottom: 10px;
    width: 100%;
    height: 44px;

    border-radius: 22px;

    background-color: #D41342;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16;
    line-height: 1.31;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #FFFFFF;
        color: #D41342;
    }
}

.contacts__franchise {
    @extend %btn;

    width: 100%;
    height: 44px;

    border-radius: 22px;

    background-color: #FFFFFF;
    color: #D41443;
    font-weight: 700;
    font-size: 16;
    line-height: 1.31;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #D41443;
        color: #FFFFFF;
    }
}