.footer {
  padding-top: 20px;

  background-color: #fff5f6;
  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__flex {
    padding-bottom: 40px;
  }
  &__wrap-title {
    margin-bottom: 40px;

    width: 234px;
  }
  &__title {
    margin-bottom: 16px;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;

    color: #ffa5ba;
  }
  &__title-second {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  &__list {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 40px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fea5bb;
    fill: white;

    transition: background-color 300ms ease-in-out;
    &:hover {
      background-color: #d41443;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__contact {
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;

    color: #000000;
  }
  &__tel {
    color: #d41443;
  }
  &__text {
    background-color: #fff5f6;

    border-top: 1px solid #e1e1e1;

    padding-top: 16px;
  }
  &__copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;

    text-align: center;
    color: #907e82;
  }
}

//! Адаптив
@media screen and (min-width: 768px) {
  .footer {
    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__flex {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &__wrap-title {
      width: 340px;
    }
    &__title {
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.04em;
    }
    &__title-second {
      margin-bottom: 0;

      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.06em;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &__contact {
      margin-bottom: 40px;

      font-size: 14px;
      line-height: 186%;
    }
    &__tel {
      font-size: 14px;
      line-height: 186%;
    }
    &__text {
      display: flex;
      justify-content: center;
    }
    &__copyright {
      line-height: 186%;
      letter-spacing: 0.02em;
      &-second {
        margin-left: 6px;
      }
    }
  }
}

//! Адаптив
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__flex {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      padding-bottom: 60px;
    }
    &__wrap-title {
      width: 480px;
    }
    &__title {
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.04em;
    }
    &__title-second {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
    }
    &__contact {
      margin-bottom: 0;
    }
  }
}
