header{
    background-color: #FFB8CA;
}
.header{
    display: flex;
    padding-top: 8px;
}
.navigation__list{
    @include device (not-desktop){
        display: none;
    }
}
.btn-modal-open.tablet-desktop{
    @include device (mobile-only){
        display: none;
    }
}
.burger-menu__btn-open{
    margin-left: auto;
    padding: 0px;
    border: 0px;
    background-color: transparent;

    fill: $accent-color;
    @include device (tablet){
        margin-right: 32px;
    }
    @include device (desktop){
        display: none;
    }
}