header{
    background-color: #FFB8CA;
    position:relative;
    overflow: hidden;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 8px;
    @include device (tablet){
        padding-top: 32px;
    }
    @include device (desktop){
        padding-top: 37px;
    }
}
.navigation{
    z-index: 3;
    @include device (desktop){
        margin-left: 128px;
    }
}
.navigation__list{
    @include device (not-desktop){
        display: none;
    }
    @include device (desktop){
        display: flex;
    }
}
.navigation__item{
    &:not(:last-child){
        margin-right: 35px;
    }
}
.navigation__link{
    font-size: 16px;
    line-height: 1.31;
    color: $secondary-text-color;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.btn-modal-open.tablet-desktop{
    @include device (mobile-only){
        display: none;
    }
    @include device (tablet){
        margin: 0px;
        min-width: 160px;
    }
    @include device (desktop){
        margin-left: 140px;
    }
}
.burger-menu__btn-open{
    margin-left: auto;
    padding: 0px;
    border: 0px;
    background-color: transparent;

    fill: $accent-color;
    @include device (tablet){
        margin-right: 32px;
    }
    @include device (desktop){
        display: none;
    }
}
