.hero {
    padding-top:150px;
    padding-bottom:160px;
         @media screen  and (min-width: 767px) {
            padding-top:10px;
            padding-bottom:16px;
         }
         @media screen  and (min-width: 1199px) {
            padding-top: 40px;
            padding-bottom: 60px;
         }
    &__title-Btns {
        position:relative;
        height: auto;
        z-index:5;
    }
    &__title {
        width:218px;
        font-family:'Titan One';
        font-size: 24px;
        font-weight:300;
        line-height: 30px;
        text-transform: uppercase;
        color:$secondary-text-color;
        letter-spacing:0.06em;
        margin-bottom: 20px;
        @media screen  and (min-width: 767px) {
            width:162px;
            font-size: 22px;
            line-height: 25px;
        }
        @media screen  and (min-width: 1199px) {
            width: 277px;
            font-size: 38px;
            line-height: 44px;
            letter-spacing: 0.04em;
            margin-bottom: 24px;
        }
    }
    &__text-passion {
        color:$accent-color;
        font-weight:bold;
        font-size:46px;
        line-height:46px;
        letter-spacing: 0.02em;
          @media screen  and (min-width: 1199px) {
            font-size:58px;
          }
    }
    &__list-btn{
        @extend %list;
        position:static;
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right:8px;
        @media screen  and (min-width: 1199px) {
            margin-right: 12px;
        }

        }
    }
    &__link {
        @extend %btn;
        border-radius: 20px;
        font-size: 8px;
        line-height: 10px;
        padding: 8px 16px;
        @include animation(background-color);
        @include animation(color);

        &--accent {
            color:$secondary-text-color;
            background-color:$accent-color;
            &:hover,
            &:focus {
                color:$accent-color;
                background-color:$secondary-text-color;
            }
        }
        &--base {
            color:$accent-color;
            background-color: $secondary-text-color;
            &:hover,
            &:focus {
                color:$secondary-text-color;
                background-color:$accent-color;
            }
        }
        @media screen  and (min-width: 1199px) {
            font-size: 14px;
            padding: 11px 22px;
        }

    }
    &__img-wrapper {
        display:block;
        width:346px;
        height:344px;
        border-radius:50%;
        background-color:#FFA5BA;
        position:absolute;
        top:18%;
        left:8%;
        @media screen  and (min-width: 767px) {
          width: 335px;
          height: 333px;
          top:4%;
          left:32%;
        }
        @media screen  and (min-width: 1199px) {
            width: 534px;
            height: 534px;
            top: 2%;
            left: 38%;
        }

       
    }
    &__img-iceCream {
        position: absolute;
        left: 50%;
        top: 62%;
        transform: translate(-50%,-50%);
        z-index: 1;
        @media screen  and (min-width: 767px) {
            width: 143px;
            left:44%;
        }
        @media screen  and (min-width: 1199px) {
            width: 236px;
        }

    }
    &__milk{
        display:none;
            @media screen  and (min-width: 767px) {
             display:flex;
             align-items:center;
             margin-left: 16px;
            }
    }
    &__img-milk{
        @media screen  and (min-width: 1199px) {
            width: 213px;
        }
    }
    &__description {
        width:114px;
        font-size: 8px;
        line-height: 150%;
        color:$secondary-text-color;
        position:relative;
        @media screen  and (min-width: 1199px) {
            font-size: 14px;
            line-height: 140%;
            width: 200px;
        }

    }
    &__img-girl{
        display:none;
        @media screen  and (min-width: 767px) {
            display:block;
        }
        @media screen  and (min-width: 1199px) {
            width: 304px;
        }

    }
    &__list-food-establishment {
        display:none;
        @extend %list;
        @media screen  and (min-width: 767px) {
                display:block;
                position:absolute;
                right:40px;
                top:10%;
               }
    }
    &__item-text{
        display:block;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        color:$secondary-text-color;
        position:relative;
        z-index:2;
        @media screen  and (min-width: 1199px) {
            font-size: 14px;
            line-height: 18px;
        }
        &::after {
            content:'';
            position:absolute;
            top:0;
            right:-8px;
            display:block;
            width:16px;
            height:16px;
            background-color:$secondary-text-color;
            border-radius:50%;
            z-index:1;
            @media screen  and (min-width: 1199px) {
                width: 30px;
                height: 30px;
            }

        }
    }
    &__item-span {
        display:block;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color:$accent-color;
        position:relative;
        z-index: 2;
        @media screen  and (min-width: 1199px) {
            font-size: 46px;
            line-height: 53px;
        }

    }
    &__img-girl {
        position:absolute;
        bottom:0;
        right:32px;
    }
}