.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  overflow-y: auto;

  transition: opacity $main-animation, visibility $main-animation;
}

.overlay.overlay-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.overlay.overlay-active .modal {
  transform: scale(1);
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;

  background-color: transparent;
  border: none;
  color: $accent-color;
  transition: transform $main-animation;
  &:hover {
    transform: rotate(90deg);
  }
}

.close-icon {
  width: 14px;
  height: 14px;
}

.modal {
  position: relative;
  padding: 40px 15px;
  width: 480px;
  background-color: $header-background-color;
  border: 1px solid #646464;
  border-radius: 14px;

  color: $accent-color;
  transform: scale(0.8);
  transition: transform $main-animation;

  &__title {
    font-family: 'Titan One', sans-serif;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.04em;

    margin-bottom: 15px;
  }

  &__text {
    font-family: 'Titan One', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;

    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__label {
    position: absolute;
    top: 12px;
    left: 10px;
  }

  &__input {
    width: 100%;
    padding: 38px 10px 16px;

    color: inherit;
    background-color: #ffffff90;
    border: none;
    border-radius: 6px;
    transition: background-color $main-animation, outline $main-animation;
    &:hover {
      background-color: #ffffff70;
    }
    &:focus {
      outline: 2px solid $accent-color;
    }
  }

  &__button {
    position: relative;
    display: block;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 43px;

    font-size: 16px;
    font-weight: 700;
    color: $accent-color;

    background-color: #ffffff;
    border-color: transparent;
    border-radius: 22px;
    transition: background-color $main-animation, outline $main-animation,
      color $main-animation;
    &:hover {
      background-color: $white-button-hover;
      color: $accent-color;
    }

    &:focus {
      outline: 2px solid $accent-color;
    }
  }

  &__symbol {
    position: absolute;
    top: 12px;
    margin-left: 10px;
  }

  &__image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 0;
  }
  .modal {
    width: 600px;
    padding: 40px 80px;

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 25px;
    }

    &__item {
      font-size: 14px;
    }

    &__label {
      top: 15px;
      left: 15px;
    }

    &__input {
      padding: 45px 15px 20px;
    }

    &__button {
      margin-top: 25px;
    }

    &__image {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
