.product{
        padding-top: 60px;
padding-bottom: 60px;
}

.product-container{
@media screen  and (max-width: 767px) {
                padding-left: 20px;
                        padding-right: 20px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
                padding-left: 32px;
                        padding-right: 32px;
        }

                 @media screen and (min-width: 1200px) {
                        padding-left: 16px;
                                padding-right: 16px;
                 }
}

.product__text{
        font-family: 'Titan One' , sans-serif;
        font-weight: 400;
        
        text-align: center;
        text-transform: uppercase;
        
        margin-bottom: 15px;

        color: #FFA5BA;

        @media screen  and (max-width: 767px) {
                        font-size: 18px;
                        line-height: 1.16;
                        
                }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
                font-size: 26px;
                line-height: 1.15;

                margin-bottom: 18px;

        }
                @media screen and (min-width: 1200px) {
                        font-size: 30px;
                        line-height: 1.13;
                        letter-spacing: 0.04em;

                        margin-bottom: 16px;
                }
}

.product__title{
font-family: 'Titan One', sans-serif;
font-weight: 400;
        
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #D41443;

        margin-bottom: 8px;

        @media screen  and (max-width: 767px) {
                        font-size: 34px;
                                line-height: 1.15;
                }
        
                @media screen and (min-width: 768px) and (max-width: 1199px) {
                        font-size: 48px;
                        line-height: 1.14;
                        letter-spacing: 0.04em;                  
                }
        
                @media screen and (min-width: 1200px) {
                        font-size: 58px;
                        line-height: 1.13;
                        letter-spacing: 0.06em;            
                }
}

.product__list{


@media screen and (min-width: 768px) and (max-width: 1199px) {
                display: flex;
                justify-content: center;
                margin: -8px;
        }

        @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                margin: -16px;
                
        }
}

.product-ice-cream {
text-align: center;
transition: transform 500ms ease-in-out;


        &::before {
                        content: '';
                        display: inline-block;
                        margin-bottom: -140px;
                        width: 280px;
                        height: 280px;
                        background-image: url(../images/mobile/products/home-pic1-280.png);
        
        
        
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                                background-size: contain;
                                background-image: url(../images/mobile/products/home-pic1-560.png)
                        }
        
                        @media screen and (min-width: 768px) and (max-width: 1199px) {
                                margin-bottom: -100px;
                                width: 224px;
                                height: 224px;
        
                                background-image: url(../images/tablet/products/home-pic1-224.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/tablet/products/home-pic1-448.png)
                                }
                        }
        
                        @media screen and (min-width: 1200px) {
                                margin-bottom: -155px;
                                width: 368px;
                                height: 394px;
        
                                background-image: url(../images/desktop/products/home-pic1-368.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/desktop/products/home-pic1-736.png)
                                }
                        }
                }
                                 
         }
        

.product-ice-cream__position{

        background-color: #FFB8CA;   
}

.product-ice-coffe{
       text-align: center;
transition: transform 500ms ease-in-out;
        &::before {
                        content: '';
                        margin-bottom: -140px;
                        display: inline-block;
                        width: 280px;
                        height: 280px;
                        background-image: url(../images/mobile/products/home-pic-beige-280.png);
        
            
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                                background-size: contain;
                                background-image: url(../images/mobile/products/home-pic1beige-560.png)
                        }
        
                        @media screen and (min-width: 768px) and (max-width: 1199px) {
                                margin-bottom: -100px;
                                width: 224px;
                                height: 224px;
        
                                background-image: url(../images/tablet/products/home-pic2-224.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/tablet/products/home-pic2-448.png)
                                }
                        }
        
                        @media screen and (min-width: 1200px) {
                        margin-bottom: -155px;
                                width: 368px;
                                height: 394px;
        
                                background-image: url(../images/desktop/products/home-pic2-368.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/desktop/products/home-pic2-736.png)
                                }
                        }
                }   
       
}
.product-ice-coffe__position{
background-color: #F0D1A5;
       
}

.product-milk-shakes{
text-align: center;
transition: transform 500ms ease-in-out;
        

        &::before {
                        content: '';
                        display: inline-block;
                        margin-bottom: -140px;
                        width: 280px;
                        height: 280px;
                        background-image: url(../images/mobile/products/home-pic1green-280.png);
        
        
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                                background-size: contain;
                                background-image: url(../images/mobile/products/home-pic1green-560.png)
                        }
        
                        @media screen and (min-width: 768px) and (max-width: 1199px) {
                                margin-bottom: -100px;
                                width: 224px;
                                height: 224px;
        
                                background-image: url(../images/tablet/products/home-pic3-224.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/tablet/products/home-pic3-448.png)
                                }
                        }
        
                        @media screen and (min-width: 1200px) {
                                margin-bottom: -155px;
                                width: 368px;
                                height: 394px;
        
                                background-image: url(../images/desktop/products/home-pic3-368.png);
        
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                        background-size: contain;
                                        background-image: url(../images/desktop/products/home-pic3-736.png)
                                }
                        }
                }
       
}

.product-milk-shakes__position{
background-color: #C2E297;

        
}

.product__box{
border-radius: 24px;

@media screen and  (max-width: 479px) {
                min-width: 280px;
                
                margin-right: auto;
                margin-left: auto;
                padding-top: 160px;
                padding-right: 40px;
                padding-bottom: 40px;
                padding-left: 40px;
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
                max-width: 280px;
                
                margin-right: auto;
                margin-left: auto;
                padding-top: 160px;
                padding-right: 40px;
                        padding-bottom: 40px;
                        padding-left: 40px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
               
                max-width: 224px;
                min-width: 224px;
                flex-basis: calc((100% - 6 * 8px) / 3);
                        margin: 8px;
                        padding-top: 118px;
                                padding-right: 32px;
                                padding-bottom: 40px;
                                padding-left: 32px;
        }

        @media screen and (min-width: 1200px) {
                width: 100%;
                max-width: 368px;
                
                flex-basis: calc(100 / 12) * 4;
                margin: 16px;
                padding-top: 165px;
                padding-right: 64px;
                        padding-bottom: 60px;
                        padding-left: 64px;
        }
}

.product__box-title{
        position: relative;
margin-bottom: 70px;
font-family: 'Titan One' , sans-serif;
        
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFFFFF;

        &::after{
                content: '...';
                position: absolute;
               left: 50%;
                transform: translateX(-50%);  
                color: #FFFFFF;  
                bottom: -42;           
                font-size: 26px;
                letter-spacing: 0.07em;
        }
        
        @media screen  and (max-width: 767px) {
                 font-size: 20px;
                  line-height: 1.15;        
        }

          @media screen and (min-width: 768px) and (max-width: 1199px) {
                        font-size: 20px;
                                line-height: 1.15;           
                 }

             @media screen and (min-width: 1200px) {
                font-size: 30px;
                 line-height: 1.13;
               
             }
}

.product-ice-cream__text{
        @extend %product-text-styles;
        
        
}

.product-ice-coffe__text{
        @extend %product-text-styles;
}

.product-milk-shakes__text{
        @extend %product-text-styles;
        
}


.product-ice-cream__button{

        @extend %product-button-styles;
        // @include animation(background-color);
        
        //             &:hover,
        //             &:focus {
        //                 background-color: $white-button-hover;
        //             }
}

.product-ice-coffe__button {
        @extend %product-button-styles;

        // @include animation(background-color);
        
        //         &:hover,
        //         &:focus {
        //                 background-color: $white-button-hover;
        //         }
                                
}

.product-milk-shakes__button {
        @extend %product-button-styles;
        // @include animation(background-color);
        
        //         &:hover,
        //         &:focus {
        //                 background-color: $white-button-hover;
        //         }
}




.product__box-overlay{
overflow: hidden;
        position: relative;
// @media screen and (min-width: 768px) and (max-width: 1199px) {
// min-height: 200px;
// }
        
}
.product-ice-cream__description{
       @extend %product-discription-styles;
           color: rgb(241, 99, 47);
}
.product-ice-coffe__description{
        @extend %product-discription-styles;
            color: rgb(32, 122, 224);
}
.product-milk-shakes__description{
        @extend %product-discription-styles;
          color: rgb(87, 29, 29);
}

.product-ice-cream__description.is-open{
transform: translateY(0%);
        background-color: #FFB8CA;
}
.product-ice-coffe__description.is-open{
        
transform: translateY(0%);
background-color: #F0D1A5;
}
.product-milk-shakes__description.is-open{
transform: translateY(0%);
background-color: #C2E297;
}


.product-ice-cream__text.mobile-is-open{
transform: translateX(-100%);
}
.product-ice-coffe__text.before-mobile-is-open{

transform: translateY(-100%);
}
.product-milk-shakes__text.befmob-is-open {
        transform: translateX(100%);
}

.product-ice-cream__button.is-open{
transform: rotate(270deg);
 transition: transform 500ms ease-in-out;
}
.product-ice-coffe__button.is-open {

          transform: rotate(270deg) ;
           transition: transform 500ms ease-in-out;
        }

.product-milk-shakes__button.is-open{
        transform: rotate(270deg);
          transition: transform 500ms ease-in-out;
}
// .product-ice-cream__text.is-open{
       
//         @media screen and (max-width: 479px) {
//         transform:  scale(1.2);
//         transition: transform 500ms ease-in-out;
//         color: orangered;
//         }
     
//                                   @media screen and (min-width: 768px) and (max-width: 1199px) {
//                                         //   transform: scale(1.3);
//                                           transition: transform 500ms ease-in-out;
//                                           color: #FFFFFF;
                                        
//                                   }
                
//                                   @media screen and (min-width: 1200px) {
//                                           transform: scale(1.2);
//                                           transition: transform 500ms ease-in-out;
//                                           color: #FFFFFF;
//                                   }
// }

// .product-ice-cream.mobile-is-open {
//         @media screen and (min-width: 480px) and (max-width: 767px) {

//                 transform: scale(1.6);
//                 transition: transform 500ms ease-in-out;

//         }
//                                   @media screen and (min-width: 768px) and (max-width: 1199px) {
                
//                                           transform:  scale(1.4);
//                                           transition: transform 500ms ease-in-out;
//                                         // z-index: 1;
//                                   }
                
//                                   @media screen and (min-width: 1200px) {
//                                           transform:  scale(1.2);
//                                           transition: transform 500ms ease-in-out;
//                                         // z-index: 1;
//                                   }
// }

// .product-ice-cream__button.is-open{
        
//         transform: rotate(270deg) ;
//         transition: transform 500ms ease-in-out;
//         @media screen and (min-width: 480px){
//         transform: rotate(270deg) translateX(70%);
//         }
        
// }

// .product-ice-coffe__text.before-mobile-is-open {
        
//         @media screen and (max-width: 479px) {
//                         transform: scale(1.2);
//                         transition: transform 500ms ease-in-out;
//                         color: rgb(32, 122, 224);
//                 }

//                                  @media screen and (min-width: 768px) and (max-width: 1199px){
//                                         //  transform: scale(1.4);
//                                          transition: transform 500ms ease-in-out;
//                                          color: #FFFFFF;
//                                  }
//                                   @media screen and (min-width: 1200px) {
//                                  transform: scale(1.2);
//                           transition: transform 500ms ease-in-out;
//                         color: #FFFFFF;
//                                                                   }
// }


// .product-ice-coffe.is-open {
//         @media screen and (min-width: 480px) and (max-width: 767px){
        
//                         transform: scale(1.6);
//                         transition: transform 500ms ease-in-out;
//                 }
//         @media screen and (min-width: 768px) and (max-width: 1199px)
//         {

//                 transform: scale(1.4);
//                 transition: transform 500ms ease-in-out;
//                 // z-index: 1;
                
//         }
//                 @media screen and (min-width: 1200px) {
//                         transform: scale(1.2);
//                                 transition: transform 500ms ease-in-out;
//                                 // z-index: 1;
// }
// }
// .product-ice-coffe__button.is-open {
       
//         transform: rotate(270deg);
//                 transition: transform 500ms ease-in-out;
        
//                 @media screen and (min-width: 480px) {
//                         transform: rotate(270deg) translateX(70%);
//                 }

        
// }

// .product-milk-shakes__text.befmob-is-open {
        
//         @media screen and (max-width: 479px) {
//                         transform: scale(1.2);
//                         transition: transform 500ms ease-in-out;
//                         color: brown;
//                 }

//                                  @media screen and (min-width: 768px) and (max-width: 1199px) {
//                                         //  transform: scale(1.3);
//                                          transition: transform 500ms ease-in-out;
//                                          color: #FFFFFF;
//                                  }
                
//                                  @media screen and (min-width: 1200px) {
//                                          transform: scale(1.2);
//                                          transition: transform 500ms ease-in-out;
//                                          color: #FFFFFF;
//                                  }
// }

// .product-milk-shakes__button.is-open {
        
//         transform: rotate(270deg);
//                 transition: transform 500ms ease-in-out;
        
//                 @media screen and (min-width: 480px) {
//                         transform: rotate(270deg) translateX(70%);
//                 }

// }

// .product-milk-shakes.is-open{

//         @media screen and (min-width: 480px) and (max-width: 767px) {
        
//                         transform: scale(1.6);
//                         transition: transform 500ms ease-in-out;
//                 }
//         @media screen and (min-width: 768px) and (max-width: 1199px){
        
//                         transform:  scale(1.4);
//                         transition: transform 500ms ease-in-out;
//                 }
//                               @media screen and (min-width: 1200px) {
//                                       transform:  scale(1.2);
//                                       transition: transform 500ms ease-in-out;
//                                }

//   }
        // animation: move 10000ms ease-in-out 1000ms ;
                     
        //         animation-fill-mode: none;
        //         @keyframes move {
        //                         0% {
        //                         transform: translate(0%, 0%) scale(1);
        //                         }
        
        //                         20% {
        //                         transform: translate(-100%, 0%) scale(1.3);
        //                         }
        //                         80%{
        //                          transform: translate(-100%, 0%) scale(1.3);
        //                         }
        //                         100% {
        //                         transform: translate(0%, 0%) scale(1);
                                
                               
        //                         }

        //         }

                               
              
      


// .product-milk-shakes.is-open .product-ice-cream{
//         @media screen and (min-width: 1200px) {
               
// transform: translate(100%, 0%);
// transition: transform 500ms ease-in-out;
//         }

        
// }

//        .product-ice-cream.foric-is-open{
//         @media screen and (min-width: 768px) {
        
//                         transform: translate(100%, 0%);
//                         transition: transform 500ms ease-in-out;
//                                 }
//        }

// .product-milk-shakes.formi-is-open {
//         @media screen and (min-width: 768px) {

//                 transform: translate(-100%, 0%);
//                 transition: transform 500ms ease-in-out;
//         }
// }

// .product-milk-shakes.forshakes-is-open {
//         @media screen and (min-width: 768px) {

//                 transform: translate(-100%, 0%);
//                 transition: transform 500ms ease-in-out;
//         }
// }

// .product-ice-cream.forcream-is-open {
//         @media screen and (min-width: 768px) {

//                 transform: translate(100%, 0%);
//                 transition: transform 500ms ease-in-out;
//         }
// }