.product{
        padding-top: 60px;
padding-bottom: 60px;
}

.product-container{
@media screen and (min-width: 320px) and (max-width: 767px) {
                padding-left: 20px;
                        padding-right: 20px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
                padding-left: 32px;
                        padding-right: 32px;
        }

                 @media screen and (min-width: 1200px) {
                        padding-left: 16px;
                                padding-right: 16px;
                 }
}

.product__text{
    font-family: 'Titan One' , sans-serif;
                font-weight: 400;
        
        text-align: center;
        text-transform: uppercase;
            color: #FFA5BA;

        @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-size: 18px;
                        line-height: 1.16;
                        
                }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
                font-size: 26px;
                line-height: 1.15;
        }
                @media screen and (min-width: 1200px) {
                        font-size: 30px;
                        line-height: 1.13;
                        letter-spacing: 0.04em;
                }
}

.product__title{
font-family: 'Titan One', sans-serif;
font-weight: 400;
        
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #D41443;

        margin-bottom: 8px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-size: 34px;
                                line-height: 1.15;
                }
        
                @media screen and (min-width: 768px) and (max-width: 1199px) {
                        font-size: 48px;
                        line-height: 1.14;
                        letter-spacing: 0.04em;
                }
        
                @media screen and (min-width: 1200px) {
                        font-size: 58px;
                        line-height: 1.13;
                        letter-spacing: 0.06em;
                }
}

.product__list{


@media screen and (min-width: 768px) and (max-width: 1199px) {
                display: flex;
                justify-content: center;
                margin: -8px;
        }

        @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                margin: -16px;
                
        }
}

.product__ice-cream {
       position: relative;
         background-color: #FFB8CA;
        text-align: center;
        margin-top: 140px;

         &::before{
                content: '';
                position: absolute;
                display: inline-block;
                width: 280px;
                        height: 280px;
                        background-image: url(../images/Mobile/Products/home-pic1-280.png);
                        top: -140px;
                        
                       
         }
        
}



.product__ice-coffe{
        background-color: #F0D1A5;
       
}

.product__milk-shakes{
        background-color: #C2E297;
       
}

.product__item{
border-radius: 24px;

@media screen and (min-width: 320px) and (max-width: 479px) {
                min-width: 280px;
                height: 489px;
                margin-right: auto;
                margin-left: auto;
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
                max-width: 280px;
                height: 489px;
                margin-right: auto;
                margin-left: auto;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
               
                max-width: 224px;
                height: 473px;
                flex-basis: calc((100% - 6 * 8px) / 3);
                        margin: 8px;
        }

        @media screen and (min-width: 1200px) {
                width: 100%;
                min-width: 368px;
                height: 535px;
                flex-basis: calc(100 / 12) * 4;
                margin: 16px;
        }
}

.product__item-title{
        position: relative;

font-family: 'Titan One' , sans-serif;
        
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFFFFF;

        &::after{
                content: '';
                position: absolute;
                top: 32px;
                display: block;
                width: 6px;
                        height: 6px;
                        background-image: url(../images/Mobile/Products/Ellipse-6.png);
        }
        
        

        @media screen and (min-width: 320px) and (max-width: 767px) {
                 font-size: 20px;
                  line-height: 1.15;
                padding-top: 160px;
        }

          @media screen and (min-width: 768px) and (max-width: 1199px) {
                        font-size: 20px;
                                line-height: 1.15;
                                padding-top: 118px;
                 }

             @media screen and (min-width: 1200px) {
                font-size: 30px;
                 line-height: 1.13;
                padding-top: 165px;
             }
}